.dropdown-item:hover {
  background: rgb(204, 36, 36);
}
.parent-nested-drop-down:hover {
  background: rgb(204, 36, 36);
}

.hero {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("imgs/hero-bg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.navbar-toggler {
  background-color: #fff;
}
.nav-item {
  position: relative;
  margin-inline: 10px;
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width ease-in-out 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.active::after {
  width: 100%;
}

.about {
  /* height: 100vh; */
  background-color: #f5f5f5;
}

.about-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 990px) {
  .nav-item:hover::after {
    width: 10%;
  }
  .active::after {
    width: 10%;
  }
}
